{{> head  }}

{{> navbar  }}

<div class="row">

    <div class="col-8">
        <h1>Saprissa</h1>
        <hr>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt ligula tincidunt, convallis nulla
            eu, pharetra augue. Donec volutpat sagittis lacus. Curabitur venenatis dictum nulla eget convallis. Nunc
            rutrum lobortis nisl. In consectetur mi tortor. Cras pretium, augue non mollis semper, nunc nisi suscipit
            tellus, aliquet blandit tortor tellus quis lacus. Duis vel dolor quis nunc semper fermentum. Etiam id purus
            nunc. Ut elementum libero a arcu hendrerit auctor. Praesent ultricies sagittis diam ac tempus. Aenean quam
            sem, venenatis et sem sit amet, pellentesque feugiat turpis. Ut nec arcu eu elit blandit accumsan. Proin
            molestie tristique bibendum. Nulla tempor nisi ut est ornare vehicula. Nullam vitae enim vitae lacus
            convallis euismod sit amet ut lacus. Ut vulputate neque a dapibus ornare.

            Aliquam tempus, felis a tristique porta, sapien justo sagittis arcu, a semper neque sem elementum lacus.
            Aenean a condimentum sem. Maecenas mattis massa eget magna fringilla, in faucibus lectus ornare. Fusce
            luctus mi non dolor fringilla, ut porta arcu fringilla. Vivamus at mauris non mauris pellentesque vehicula.
            Etiam ut eros at felis imperdiet feugiat. Integer condimentum, ligula quis molestie scelerisque, odio orci
            semper elit, eget suscipit urna nunc vitae felis.

        </p>
    </div>

    <div class="col-4">
        <img width="400px" height="400px" src="assets/img/saprissa.png" class="img-thumbnail" />
    </div>


</div>

{{> footer  }}